@page
@model IndexModel
@{
    ViewData["Title"] = "ArtProject";

}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Banner Start ***** -->
                    <div class="main-banner">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="header-text">
                                    <h4>Welcome To <em>ArtProject</em></h4>
                                    <h6><em>Discover</em> the artists and their works, find the exhibition that will inspire you and brighten your day, and buy tickets for the exhibition.</h6>
                                    <div class="main-button">
                                        <a href="/Search">Browse Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Banner End ***** -->
                    <!-- ***** Paintings Start ***** -->
                    <div class="live-stream">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em>Some Popular</em> Paintings</h4>
                            </div>
                        </div>
                        <div class="row">
                            @for (var i = 0; i < 9; i++)
                            {
                                <div class="col-lg-4 col-sm-6">
                                    <div class="item">
                                        <div class="thumb">
                                            <img src="@Model.Images[i]" width="350" height="350" alt="">
                                            <div class="hover-effect">
                                                <div class="content">
                                                    <div class="live">
                                                        <a>@Model.Paints[i].data.artist_title.ToString()</a>
                                                    </div>
                                                    <ul>
                                                        <li><a>@Model.Paints[i].data.title</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="/Search">Explore More Paintings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Paintings End ***** -->
                    <!-- ***** Exhibitions Start ***** -->
                    <div class="gaming-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em>Your Exhibition</em> Library</h4>
                            </div>
                            @for (var i = 0; i < 3; i++)
                                {
                                 var item = Model.exhData.data[i];
                                 if (String.IsNullOrEmpty(item.gallery_title))
                                    item.gallery_title = "Gallery 404";
                                <div class="item">
                                    <ul>
                                        <li><img src="@item.image_url" alt="" class="templatemo-item" width="150"></li>
                                        <li><h4>@item.gallery_title</h4><span>Artwork: "@item.title"</span></li>
                                        <li><h4>Date Added</h4><span>@item.source_updated_at</span></li>
                                        <li><h4>Start Date</h4><span>@item.aic_start_at</span></li>
                                        <li><h4>End Date</h4><span>@item.aic_end_at</span></li>
                                        @if (User.Identity.Name != null)
                                        {
                                            <li><div class="main-border-button border-active"><a href="/Ticket/?id=@item.id">Buy Ticket</a></div></li>
                                        }
                                        else
                                        {
                                            <li><div class="main-border-button border-active"><a href="/Profile">Buy Ticket</a></div></li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="/Exhibitions">Explore More Exhibitions</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Exhibitions End ***** -->
                </div>
            </div>
        </div>
    </div>
</body>