@page
@model CombinedModel
@{
    ViewData["Title"] = "Profil";
    var username = User.Identity.Name;
    var name = "";
    var age = 0;
    var email = "";
    var password = "";
    var id = 0;

    @foreach (var item in Model.UsersListing)
        {
            if (username == item.Username)
            {
                name = item.Name;
                age = item.Age;
                email = item.Email;
                password = item.Password;
                id = item.Id;
            }
        }

}
@*<h1>@ViewData["Title"]</h1>*@


<style>
    .editlabel {
        color: white;
    }

    .editdiv {
        display: grid;
        width: 100%;
        margin-top: 40px;
    }

    .editform {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #editBtn {
        background-color: #E15686;
        margin-top: 24px;
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        height: 48px;
    }

    .column {
        float: left;
        width: 30%;
    }

    #editHeader {
        margin: 40px 0 0 0;
    }
</style>

<script type="text/javascript">var counter = 0;

    function changeEdit() {
        console.log(counter);
        counter += 1;
        var mydiv = document.querySelector("#editdiv");

        if (counter % 2 == 0) {
            mydiv.style.display = "none";
        }

        else {
            mydiv.style.display = "block";
        }
    }</script>


<body>

    @if (User.Identity.Name != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">

                        <!-- ***** Banner Start ***** -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-profile ">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="~/images/profile.jpg" alt="" style="border-radius: 23px;">
                                        </div>
                                        <div class="col-lg-4 align-self-center">
                                            <div class="main-info header-text">
                                                <span>Member</span>
                                                <h4>@name</h4>
                                                <p>You can discover new exhibits in our website</p>
                                                <div class="d-flex flex-column" style="width:50%; ">
                                                    <span style="width:auto; text-align:center">
                                                        <button onclick="changeEdit()" style="border:none; background:none; color:white;">Edit Account</button>
                                                        <input type="hidden" name="UserName" value=@username asp-for="UserName">
                                                    </span>
                                                    <span style="width:auto; text-align:center">
                                                        <form method="post" asp-page-handler="DeleteRequest">
                                                            <button type="submit" style="border:none; background:none; color:white;">Delete Account</button>
                                                            <input type="hidden" name="UserName" value=@username asp-for="UserName">
                                                        </form>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 align-self-center">
                                            <ul>
                                                <li>E-Mail <span>@email</span></li>
                                                <li>Age <span>@age</span></li>
                                                <li>Active Tickets <span>None</span></li>
                                            </ul>
                                        </div>
                                    </div>



                                    @*<div id="editdiv" style="display:none">
                                        <form class="editform" method="post" asp-page-handler="EditRequest">
                                            <label class="editlabel" for="name">Name</label>
                                            <input type="text" value=@name id="name" asp-for=@Model.CName>
                                            <label class="editlabel" for="email">Email</label>
                                            <input type="text" value=@email id="email" asp-for=@Model.CEmail>
                                            <label class="editlabel" for="age">Age</label>
                                            <input type="number" value=@age id="age" asp-for=@Model.CAge>
                                            <label class="editlabel" for="username">Username</label>
                                            <input type="text" value=@username id="username" asp-for="@Model.CUsername">
                                            <label class="editlabel" for="password">Password</label>
                                            <input type="text" value=@password id="password" asp-for=@Model.CPassword>
                                            <button type="submit">Save Changes</button>
                                            <input type="hidden" asp-for=@Model.ChangeId value=@id>
                                        </form>
                                    </div>*@


                                    <div id="editdiv" style="display:none">
                                        <div class="heading-section" id="editHeader">
                                            <h4>Edit <em>Your Info</em></h4>
                                        </div>
                                        <form class="editform" method="post" asp-page-handler="EditRequest">
                                            <div class="column">
                                                <label class="editlabel" for="name">Name</label>
                                                <input type="text" value=@name id="name" asp-for=@Model.CName class="form-control form-control-lg">

                                                <label class="editlabel" for="email">Email</label>
                                                <input type="text" value=@email id="email" asp-for=@Model.CEmail class="form-control form-control-lg">
                                            </div>

                                            <div class="column">
                                                <label class="editlabel" for="age">Age</label>
                                                <input type="number" value=@age id="age" asp-for=@Model.CAge class="form-control form-control-lg">

                                                <label class="editlabel" for="username">Username</label>
                                                <input type="text" value=@username id="username" asp-for="@Model.CUsername" class="form-control form-control-lg">
                                            </div>

                                            <div class="column">
                                                <label class="editlabel" for="password">Password</label>
                                                <input type="text" value=@password id="password" asp-for=@Model.CPassword class="form-control form-control-lg">

                                                <button type="submit" class="btn" id="editBtn">Save Changes</button>
                                                <input type="hidden" asp-for=@Model.ChangeId value=@id>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="main-profile ">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="clips">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="heading-section">
                                                                        <h4><em>Your</em> Tickets</h4>
                                                                    </div>
                                                                </div>
                                                                @for (var i = 16; i < 20; i++)
                                                                {
                                                                    var item = Model.exhData.data[i];
                                                                    if (String.IsNullOrEmpty(item.gallery_title))
                                                                        item.gallery_title = "Gallery 404";
                                                                    <div class="col-lg-3 col-sm-6">
                                                                        <div class="item" style="text-align: center;">
                                                                            <div>
                                                                                <a href="#" target="_blank">
                                                                                    <img src="@item.image_url" alt="" style="border-radius: 23px; height: 150px;">
                                                                                </a>
                                                                            </div>
                                                                            <div class="down-content" style="margin-top: 18px;">
                                                                                <h4>@item.gallery_title</h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                <div class="col-lg-12">
                                                                    <div class="main-button">
                                                                        <a href="#">Load More Tickets</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>
                        </div>
                        <!-- ***** Banner End ***** -->
                        <!-- ***** Gaming Library Start ***** -->
                        @*<div class="gaming-library profile-library">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4><em>Your Gaming</em> Library</h4>
                                </div>
                                <div class="item">
                                    <ul>
                                        <li><img src="~/images/game-01.jpg" alt="" class="templatemo-item"></li>
                                        <li><h4>Dota 2</h4><span>Sandbox</span></li>
                                        <li><h4>Date Added</h4><span>24/08/2036</span></li>
                                        <li><h4>Hours Played</h4><span>634 H 22 Mins</span></li>
                                        <li><h4>Currently</h4><span>Downloaded</span></li>
                                        <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul>
                                        <li><img src="~/images/game-02.jpg" alt="" class="templatemo-item"></li>
                                        <li><h4>Fortnite</h4><span>Sandbox</span></li>
                                        <li><h4>Date Added</h4><span>22/06/2036</span></li>
                                        <li><h4>Hours Played</h4><span>745 H 22 Mins</span></li>
                                        <li><h4>Currently</h4><span>Downloaded</span></li>
                                        <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                                    </ul>
                                </div>
                                <div class="item last-item">
                                    <ul>
                                        <li><img src="~/images/game-03.jpg" alt="" class="templatemo-item"></li>
                                        <li><h4>CS-GO</h4><span>Sandbox</span></li>
                                        <li><h4>Date Added</h4><span>21/04/2022</span></li>
                                        <li><h4>Hours Played</h4><span>632 H 46 Mins</span></li>
                                        <li><h4>Currently</h4><span>Downloaded</span></li>
                                        <li><div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>*@
                        <!-- ***** Gaming Library End ***** -->
                        <div class="center">
                            <form method="post" asp-page-handler="LogOutRequest" class="d-flex flex-column" style="width:50%;padding:10px;margin-top:30px;">
                                <button type="submit" class="btn" style="background-color:#E15686;margin-top:15px; font-weight:600; font-size:20px">Log Out </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    else
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        <h1 class="display-1">Welcome</h1>
                        <div class="d-flex justify-content-around text-center align-items-center" style="margin-top:20px;">
                            <div style="display:flex; flex-direction:column; justify-content:space-evenly;width:40%; padding:0 5%; height:105px">
                                <h5>New to ArtProject?</h5>
                                <a asp-page="SignUp" style="border:none;background-color:#E15686;margin-top:15px; font-weight:600; font-size:24px; padding:15px; border-radius:10px;">Sign Up</a>
                            </div>
                            <div style="display:flex; flex-direction:column; justify-content:space-evenly;width:40%; padding:0 5%">
                                <h5>Already have an account?</h5>
                                <a asp-page="LogIn" style="border:none;background-color:#E15686;margin-top:15px; font-weight:600; font-size:24px; padding:15px; border-radius:10px;">Log In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>

<style>
    .center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>